body {
    background-color: lightcyan;
}
a{
    color: #000000;
    font-size: 30px;
    padding: 25px
    
}
#active{
    background-color: steelblue;
    color: rgb(245, 177, 153);
}
h1{
   text-align: center; 
}
img {
    width: 300px;
}